<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>allinter | html5 accessibility and low vision linter</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue.min.css" />
  <style type="text/css">
    th.allinter-severity div {
      min-width: 8em;
    }
    th.allinter-metric0 div,
    th.allinter-metric1 div,
    th.allinter-metric2 div,
    th.allinter-metric3 div {
      min-width: 10em;
    }
    th.allinter-guideline0 div,
    th.allinter-guideline1 div,
    th.allinter-guideline2 div {
      min-width: 10em;
    }
    th.allinter-techniques div {
      min-width: 10em;
    }
    th.allinter-highlight-paths div {
      min-width: 10em;
    }
    th.allinter-description div {
      min-width: 30em;
    }
    th.allinter-severity-lv div,
    th.allinter-x div,
    th.allinter-y div,
    th.allinter-area div {
      min-width: 4em;
    }
    th.allinter-foreground div,
    th.allinter-background div {
      min-width: 7em;
    }
    .btn-allint-highlighter ~ .btn-allint-highlighter {
      margin-left: 4px;
    }
    .allint-lowvision-image {
      width: 100%;
    }
  </style>
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="//unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue-icons.min.js"></script>
  <script src="//unpkg.com/vue-image-compare@0.6.1/dist/vue-image-compare.min.js"></script>
</head>
<body>
  <div id="app">
    <b-navbar toggleable="sm" class="border-bottom shadow-sm mb-3">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">allinter</b-navbar-brand>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-text>html5 accessibility and low vision linter</b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-button variant="outline-secondary" v-b-modal.setting-modal>
            <b-icon-gear></b-icon-gear>
            設定
          </b-button>
          <b-button variant="outline-danger" class="ml-2" @click="quitApplication">
            <b-icon-power></b-icon-power>
            終了
          </b-button>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-modal id="setting-modal" title="設定" lazy ok-only size="lg" v-on:ok="saveSettings">
      <template v-slot:modal-ok>閉じる</template>

      <b-container fluid>
        <b-row>
          <b-col cols="3">視力</b-col>
          <b-col>
            <b-form-checkbox v-model="settings.lowVision.eyesight" name="low-vision-eyesight" switch />
          </b-col>
          <b-col cols="6">
            <b-form-input v-model="settings.lowVision.eyesightDegree" name="low-vision-eyesight-degree" type="range" min="0.0" max="1.0" step="0.1" />
          </b-col>
          <b-col>
            <span>{{settings.lowVision.eyesightDegree}}</span>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3">色覚異常</b-col>
          <b-col>
            <b-form-checkbox v-model="settings.lowVision.cvd" name="low-vision-cvd" switch />
          </b-col>
          <b-col cols="6">
            <b-form-radio-group v-model="settings.lowVision.cvdType" name="low-vision-cvd-type">
              <b-form-radio value="protan">第一色覚異常（赤色覚異常）</b-form-radio>
              <b-form-radio value="deutan">第二色覚異常（緑色覚異常）</b-form-radio>
              <b-form-radio value="tritan">第三色覚異常（青色覚異常）</b-form-radio>
            </b-form-radio-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row>
          <b-col cols="3">水晶体透過率</b-col>
          <b-col>
            <b-form-checkbox v-model="settings.lowVision.colorFilter" name="low-vision-color-filter" switch />
          </b-col>
          <b-col cols="6">
            <b-form-input v-model="settings.lowVision.colorFilterDegree" name="low-vision-color-filter-degree" type="range" min="0.6" max="1.0" step="0.05" />
          </b-col>
          <b-col>
            <span>{{settings.lowVision.colorFilterDegree}}</span>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col></b-col>
          <b-col cols="6">
            0.6: 60歳代, 0.8: 40歳代, 1.0: 20歳代
          </b-col>
          <b-col></b-col>
        </b-row>
      </b-container>
    </b-modal>

    <div class="container">
      <b-form @submit.prevent="validatePage">
        <fieldset v-bind:disabled="validating">
          <b-input-group prepend="URL">
            <b-form-input type="url" v-model="url" v-bind:readonly="validating"></b-form-input>
          </b-input-group>
          <small id="url-help" class="form-text text-muted">検証したい URL を入力し、「検証」ボタンをクリックしてください。</small>
          <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary btn-lg"><b-icon-play></b-icon-play> 検証</button>
          </div>
        </fieldset>
      </b-form>

      <div class="mt-3">
        <b-card no-body>
          <b-tabs pills card lazy v-model="tabIndex">
            <b-tab title="アクセシビリティ検証">
              <div v-if="hasHtmlCheckerResult()">
                <div class="row">
                  <div class="col-3">
                    <b-list-group>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="!result.htmlChecker.problem.filter" v-on:click="result.htmlChecker.problem.filter = null">
                        すべての項目
                        <b-badge variant="light">{{result.htmlChecker.problem.items.length.toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <hr>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.htmlChecker.problem.filter === '問題あり'" v-bind:disabled="result.htmlChecker.problem.counts[0] == 0" v-on:click="result.htmlChecker.problem.filter = '問題あり'">
                        問題あり
                        <b-badge variant="light">{{result.htmlChecker.problem.counts[0].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.htmlChecker.problem.filter === '問題の可能性大'" v-bind:disabled="result.htmlChecker.problem.counts[1] == 0" v-on:click="result.htmlChecker.problem.filter = '問題の可能性大'">
                        問題の可能性大
                        <b-badge variant="light">{{result.htmlChecker.problem.counts[1].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.htmlChecker.problem.filter === '要判断箇所'" v-bind:disabled="result.htmlChecker.problem.counts[2] == 0" v-on:click="result.htmlChecker.problem.filter = '要判断箇所'">
                        要判断箇所
                        <b-badge variant="light">{{result.htmlChecker.problem.counts[2].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.htmlChecker.problem.filter === '手動確認'" v-bind:disabled="result.htmlChecker.problem.counts[3] == 0" v-on:click="result.htmlChecker.problem.filter = '手動確認'">
                        手動確認
                        <b-badge variant="light">{{result.htmlChecker.problem.counts[3].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                    </b-list-group>
                  </div>
                  <div class="col-9">
                    <div class="row mb-1">
                      <div class="col">
                        <b-form class="float-sm-right" inline>
                          <label class="sr-only" for="html-checker-search-keyword">検索文字列</label>
                          <b-input-group class="mr-2">
                            <b-input id="html-checker-search-keyword" placeholder="検索文字列"></b-input>
                            <b-input-group-append>
                              <b-button variant="secondary">
                                <b-icon icon="search" /><span sr-only>検索</span>
                              </b-button>
                            </b-input-group-append>
                          </b-input-group>

                          <b-button variant="secondary">
                            <b-icon icon="table" /><span sr-only>表示列設定</span>
                          </b-button>
                        </b-form>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <b-table striped hover responsive sticky-header :items="result.htmlChecker.problem.items" :fields="result.htmlChecker.problem.fields" :filter="result.htmlChecker.problem.filter" :filter-included-fields="result.htmlChecker.problem.filterOn">
                          <template v-slot:cell(highlightTargetPaths)="data">
                            <span v-if="data.value && data.value.length > 0">
                              <allint-highlighter v-for="path in data.value" v-bind:key="path.id" v-bind:path="path" v-on:highlight="highlightElement"></allint-highlighter>
                            </span>
                          </template>
                        </b-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="視覚化">
              <div v-if="hasLowVisionResult()">
                <div class="row">
                  <div class="col-3">
                    <b-list-group>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="!result.lowVision.problem.filter" v-on:click="result.lowVision.problem.filter = null">
                        すべての項目
                        <b-badge variant="light">{{result.lowVision.problem.items.length.toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <hr>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.lowVision.problem.filter === '問題あり'" v-bind:disabled="result.lowVision.problem.counts[0] == 0" v-on:click="result.lowVision.problem.filter = '問題あり'">
                        問題あり
                        <b-badge variant="light">{{result.lowVision.problem.counts[0].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.lowVision.problem.filter === '問題の可能性大'" v-bind:disabled="result.lowVision.problem.counts[1] == 0" v-on:click="result.lowVision.problem.filter = '問題の可能性大'">
                        問題の可能性大
                        <b-badge variant="light">{{result.lowVision.problem.counts[1].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.lowVision.problem.filter === '要判断箇所'" v-bind:disabled="result.lowVision.problem.counts[2] == 0" v-on:click="result.lowVision.problem.filter = '要判断箇所'">
                        要判断箇所
                        <b-badge variant="light">{{result.lowVision.problem.counts[2].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                      <b-list-group-item button class="d-flex justify-content-between align-items-center" v-bind:active="result.lowVision.problem.filter === '手動確認'" v-bind:disabled="result.lowVision.problem.counts[3] == 0" v-on:click="result.lowVision.problem.filter = '手動確認'">
                        手動確認
                        <b-badge variant="light">{{result.lowVision.problem.counts[3].toLocaleString()}} <span class="sr-only">の問題点</span></b-badge>
                      </b-list-group-item>
                    </b-list-group>
                  </div>
                  <div class="col-9">
                    <b-table striped hover responsive sticky-header :items="result.lowVision.problem.items" :fields="result.lowVision.problem.fields" :filter="result.lowVision.problem.filter" :filter-included-fields="result.lowVision.problem.filterOn">
                      <template v-slot:cell(highlightTargetPaths)="data">
                        <span v-if="data.value && data.value.length > 0">
                          <allint-highlighter v-for="path in data.value" v-bind:key="path.id" v-bind:path="path" v-on:highlight="highlightElement"></allint-highlighter>
                        </span>
                      </template>
                    </b-table>
                  </div>
                </div> <!--div class="row"></div> -->

                <div class="row">
                  <div class="col">
                    <b-button-group size="sm">
                      <b-button :pressed="result.lowVision.imageMode === 'source'" v-on:click="result.lowVision.imageMode = 'source'">
                        <b-icon icon="square-half" flip-h />
                      </b-button>
                      <b-button :pressed="result.lowVision.imageMode === 'both'" v-on:click="result.lowVision.imageMode = 'both'">
                        <b-icon icon="layout-split" />
                      </b-button>
                      <b-button :pressed="result.lowVision.imageMode === 'output'" v-on:click="result.lowVision.imageMode = 'output'">
                        <b-icon icon="square-half" />
                      </b-button>
                    </b-button-group>
                  </div>
                </div>
                <div class="row" v-if="result.lowVision.imageMode === 'source'">
                  <div class="col">
                    <b-img :src="result.lowVision.sourceImage" class="allint-lowvision-image" alt="source image" />
                  </div>
                </div>
                <div class="row" v-if="result.lowVision.imageMode === 'output'">
                  <div class="col">
                    <b-img :src="result.lowVision.outputImage" class="allint-lowvision-image" alt="low vision image" />
                  </div>
                </div>
                <div class="row" v-if="result.lowVision.imageMode === 'both'">
                  <div class="col">
                    <image-compare :before="result.lowVision.outputImage" :after="result.lowVision.sourceImage"/>
                  </div>
                </div>
              </div> <!--div v-if="hasLowVisionResult()"> -->
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div> <!-- end of .container -->

  </div> <!-- end of #app -->

  <script defer>
    Vue.use(BootstrapVue);
    Vue.use(BootstrapVueIcons);
    Vue.use(VueImageCompare);

    Vue.component("allint-highlighter", {
      props: ['path'],
      template: `<b-button size="sm" pill class="btn-allint-highlighter" :title="path.cssPath" v-on:click="$emit('highlight', path)">{{ path.lastTag }}</b-button>`
    });

    var lastTag = function(cssPath) {
      const lastComponent = cssPath.split(" > ").pop().trim();
      const indexes = [ "#", ".", ":" ].map(str => lastComponent.indexOf(str, 1));
      const lastIndex = Math.max(...indexes)
      if (lastIndex === -1) {
        return lastComponent;
      }

      return lastComponent.slice(0, lastIndex);
    }

    window.addEventListener("DOMContentLoaded", (ev) => {
      const app = new Vue({
        el: "#app",
        data: {
          url: "",
          validating: false,
          tabIndex: 0,
          browserTabId: "",
          settings: {
            lowVision: {
              eyesight: true,
              eyesightDegree: 0.5,
              cvd: true,
              cvdType: "deutan",
              colorFilter: true,
              colorFilterDegree: 0.8
            }
          },
          result: {
            htmlChecker: {
              problem: {
                fields: [
                  {
                    key: "severityStr",
                    label: "重度指数",
                    class: "allinter-severity",
                    sortable: true
                  },
                  {
                    key: "highlightTargetPaths",
                    label: "指摘箇所",
                    class: "allinter-highlight-paths",
                    sortable: false
                  },
                  {
                    key: "evaluationItem_tableDataMetrics0",
                    label: "知覚可能",
                    class: "allinter-metric0",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataMetrics1",
                    label: "操作可能",
                    class: "allinter-metric1",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataMetrics2",
                    label: "理解可能",
                    class: "allinter-metric2",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataMetrics3",
                    label: "堅牢",
                    class: "allinter-metric3",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline0",
                    label: "WCAG 2.0",
                    class: "allinter-guideline0",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline1",
                    label: "Section508",
                    class: "allinter-guideline1",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline2",
                    label: "JIS",
                    class: "allinter-guideline2",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataTechniques",
                    label: "達成方法",
                    class: "allinter-techniques",
                    sortable: true
                  },
                  {
                    key: "description",
                    label: "内容",
                    class: "allinter-description",
                    sortable: false
                  }
                ],
                items: [],
                counts: [],
                filter: null,
                filterOn: [ "severityStr" ]
              }
            },
            lowVision: {
              problem: {
                fields: [
                  {
                    key: "severityStr",
                    label: "重度指数",
                    class: "allinter-severity",
                    sortable: true
                  },
                  {
                    key: "highlightTargetPaths",
                    label: "指摘箇所",
                    class: "allinter-highlight-paths",
                    sortable: false
                  },
                  // {
                  //   key: "iconTooltip",
                  //   label: "種類",
                  //   class: "allinter-icon",
                  //   sortable: true
                  // },
                  {
                    key: "evaluationItem_tableDataGuideline0",
                    label: "WCAG 2.0",
                    class: "allinter-guideline0",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline1",
                    label: "Section508",
                    class: "allinter-guideline1",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline2",
                    label: "JIS",
                    class: "allinter-guideline2",
                    sortable: true
                  },
                  {
                    key: "severityLV",
                    label: "深刻度",
                    class: "allinter-severity-lv",
                    sortable: true
                  },
                  {
                    key: "foreground",
                    label: "前景色",
                    class: "allinter-foreground",
                    sortable: true
                  },
                  {
                    key: "background",
                    label: "背景色",
                    class: "allinter-background",
                    sortable: true
                  },
                  {
                    key: "x",
                    label: "X座標",
                    class: "allinter-x",
                    sortable: true
                  },
                  {
                    key: "y",
                    label: "Y座標",
                    class: "allinter-y",
                    sortable: true
                  },
                  {
                    key: "area",
                    label: "面積",
                    class: "allinter-area",
                    sortable: true
                  },
                  {
                    key: "evaluationItem_tableDataTechniques",
                    label: "達成方法",
                    class: "allinter-techniques",
                    sortable: true
                  },
                  {
                    key: "description",
                    label: "内容",
                    class: "allinter-description",
                    sortable: true
                  },
                ],
                items: [],
                counts: [],
                filter: null,
                filterOn: [ "severityStr" ]
              },
              sourceImage: "",
              outputImage: "",
              imageMode: "both"
            }
          }
        },
        created: function() {
          window.addEventListener("beforeunload", (ev) => {
            if (typeof hostCallback !== "undefined") {
              ev.preventDefault();
              ev.returnValue = '';
              hostCallback(JSON.stringify({ name: "quit" }));
            }
          });
          window.addEventListener("message", (ev) => {
            console.log({ on: "message", ev: ev, data: ev.data })

            switch (ev.data.name) {
              case "allinter.settings":
                this.settings.lowVision.eyesight = ev.data.lowVision.eyesight;
                this.settings.lowVision.eyesightDegree = ev.data.lowVision.eyesightDegree;
                this.settings.lowVision.cvd = ev.data.lowVision.cvd;
                this.settings.lowVision.cvdType = ev.data.lowVision.cvdTypeName;
                this.settings.lowVision.colorFilter = ev.data.lowVision.colorFilter;
                this.settings.lowVision.colorFilterDegree = ev.data.lowVision.colorFilterDegree;
                break;
              case "allinter.completed":
                this.validating = false;
                this.browserTabId = ev.data.tabId;
                break;
              case "allinter.htmlChecker.result":
                this.result.htmlChecker.problem.items = Array.from(ev.data.problems, (problem, index) => {
                  return {
                    id: index,
                    severityStr: problem.severityStr,
                    evaluationItem_tableDataMetrics0: problem.evaluationItem["tableDataMetrics"][0],
                    evaluationItem_tableDataMetrics1: problem.evaluationItem["tableDataMetrics"][1],
                    evaluationItem_tableDataMetrics2: problem.evaluationItem["tableDataMetrics"][2],
                    evaluationItem_tableDataMetrics3: problem.evaluationItem["tableDataMetrics"][3],
                    evaluationItem_tableDataGuideline0: problem.evaluationItem["tableDataGuideline"][0],
                    evaluationItem_tableDataGuideline1: problem.evaluationItem["tableDataGuideline"][1],
                    evaluationItem_tableDataGuideline2: problem.evaluationItem["tableDataGuideline"][2],
                    evaluationItem_tableDataTechniques: problem.evaluationItem["tableDataTechniques"],
                    highlightTargetPaths: problem.highlightTargetPaths && problem.highlightTargetPaths.length > 0 ? Array.from(problem.highlightTargetPaths, (highlightTargetPath, index) => {
                      return {
                        id: index,
                        cssPath: highlightTargetPath.cssPath,
                        lastTag: lastTag(highlightTargetPath.cssPath)
                      };
                    }) : [],
                    description: problem.description
                  };
                });

                this.result.htmlChecker.problem.counts = [ 0, 0, 0, 0 ];
                ev.data.problems.forEach((problem, index) => {
                  if (problem.severity & 1) {
                    this.result.htmlChecker.problem.counts[0] += 1;
                  }
                  if (problem.severity & 2) {
                    this.result.htmlChecker.problem.counts[1] += 1;
                  }
                  if (problem.severity & 4) {
                    this.result.htmlChecker.problem.counts[2] += 1;
                  }
                  if (problem.severity & 8) {
                    this.result.htmlChecker.problem.counts[3] += 1;
                  }
                });
                break;
              case "allinter.lowVision.result":
                this.result.lowVision.problem.items = Array.from(ev.data.problems, (problem, index) => {
                  return {
                    id: index,
                    severityStr: problem.severityStr,
                    iconTooltip: problem.iconTooltip,
                    evaluationItem_tableDataGuideline0: problem.evaluationItem["tableDataGuideline"][0],
                    evaluationItem_tableDataGuideline1: problem.evaluationItem["tableDataGuideline"][1],
                    evaluationItem_tableDataGuideline2: problem.evaluationItem["tableDataGuideline"][2],
                    evaluationItem_tableDataTechniques: problem.evaluationItem["tableDataTechniques"],
                    severityLV: problem.severityLV,
                    foreground: problem.foreground,
                    background: problem.background,
                    x: problem.x,
                    y: problem.y,
                    area: problem.area,
                    evaluationItem_tableDataTechniques: problem.evaluationItem["tableDataTechniques"],
                    highlightTargetPaths: problem.cssPath ? [ { id: 0, cssPath: problem.cssPath, lastTag: lastTag(problem.cssPath) } ] : [],
                    description: problem.description,
                  };
                });

                this.result.lowVision.problem.counts = [ 0, 0, 0, 0 ];
                ev.data.problems.forEach((problem, index) => {
                  if (problem.severity & 1) {
                    this.result.lowVision.problem.counts[0] += 1;
                  }
                  if (problem.severity & 2) {
                    this.result.lowVision.problem.counts[1] += 1;
                  }
                  if (problem.severity & 4) {
                    this.result.lowVision.problem.counts[2] += 1;
                  }
                  if (problem.severity & 8) {
                    this.result.lowVision.problem.counts[3] += 1;
                  }
                });

                this.result.lowVision.sourceImage = ev.data.sourceImageDataUrl;
                this.result.lowVision.outputImage = ev.data.outputImageDataUrl;
                this.result.lowVision.imageMode = "both";
                break;
            }
          });

          const lastUrl = sessionStorage.getItem("lastUrl");
          if (lastUrl) {
            this.url = lastUrl;
          }

          if (typeof hostCallback !== "undefined") {
            hostCallback(JSON.stringify({ name: "syncSettings" }));
          }
        },
        methods: {
          validatePage: function() {
            if (! this.url) {
              return;
            }

            if (typeof hostCallback !== "undefined") {
              this.validating = true;
              this.browserTabId = "";
              this.result.htmlChecker.problem.items = [];
              this.result.htmlChecker.problem.counts = [ 0, 0, 0, 0 ];
              this.result.htmlChecker.problem.filter = null;
              this.result.htmlChecker.problem.filterOn = [ "severityStr" ];
              this.result.lowVision.problem.items = [];
              this.result.lowVision.problem.counts = [ 0, 0, 0, 0 ];
              this.result.lowVision.problem.filter = null;
              this.result.lowVision.problem.filterOn = [ "severityStr" ];
              this.result.lowVision.sourceImage = "";
              this.result.lowVision.outputImage = "";
              this.result.lowVision.imageMode = "both";

              hostCallback(JSON.stringify({ name: "open", payload: { url: this.url } }));
              sessionStorage.setItem("lastUrl", this.url);
            }
          },
          quitApplication: function() {
            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "quit" }));
            }
          },
          hasHtmlCheckerResult: function() {
            return (this.result.htmlChecker.problem && this.result.htmlChecker.problem.items && this.result.htmlChecker.problem.items.length > 0);
          },
          hasLowVisionResult: function() {
            return (this.result.lowVision.problem && this.result.lowVision.problem.items && this.result.lowVision.problem.items.length > 0);
          },
          highlightElement: function(path) {
            if (! path || !path.cssPath) {
              return;
            }

            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "highlight", payload: { tabId: this.browserTabId, cssPath: path.cssPath } }));
            }
          },
          saveSettings: function() {
            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "setSettings", payload: this.settings }));
            }
          }
        }
      });
    });
   </script>
</body>
</html>
