<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>allinter | html5 accessibility and low vision linter</title>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue.min.css" />
  <style type="text/css">
    th.allinter-severity div {
      min-width: 8em;
    }
    th.allinter-metric0 div,
    th.allinter-metric1 div,
    th.allinter-metric2 div,
    th.allinter-metric3 div {
      min-width: 10em;
    }
    th.allinter-guideline0 div,
    th.allinter-guideline1 div,
    th.allinter-guideline2 div {
      min-width: 10em;
    }
    th.allinter-techniques div {
      min-width: 10em;
    }
    th.allinter-highlight-paths div {
      min-width: 10em;
    }
    th.allinter-description div {
      min-width: 30em;
    }
    th.allinter-severity-lv div,
    th.allinter-x div,
    th.allinter-y div,
    th.allinter-area div {
      min-width: 4em;
    }
    th.allinter-foreground div,
    th.allinter-background div {
      min-width: 7em;
    }
    .btn-allint-highlighter ~ .btn-allint-highlighter {
      margin-left: 4px;
    }
    .allint-lowvision-image {
      width: 100%;
    }
  </style>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.15.0/dist/bootstrap-vue-icons.min.js"></script>
  <script src="https://unpkg.com/vue-image-compare@0.6.1/dist/vue-image-compare.min.js"></script>
  <script src="https://unpkg.com/moment@2.27.0/min/moment.min.js"></script>
  <script src="https://unpkg.com/i18next@19.6.2/dist/umd/i18next.min.js"></script>
  <script src="https://unpkg.com/i18next-browser-languagedetector@5.0.0/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="https://unpkg.com/i18next-fetch-backend@3.0.0/dist/i18next-fetch-backend.umd.js"></script>
</head>
<body>
  <div id="app">
    <allint-navbar :setting="settings" @application-setting-change="saveSettings" @quit-application="quitApplication"></allint-navbar>

    <div class="container">
      <allint-main-form :url="url" :validating="validating" @validate-page="validatePage($event);"></allint-main-form>

      <div class="mt-3">
        <b-card no-body>
          <b-tabs pills card lazy v-model="tabIndex">
            <allint-html-checker-tab :validating="validating" :problem="result.htmlCheckerProblemData"></allint-html-checker-tab>

            <b-tab title="視覚化">
              <div v-if="hasLowVisionResult()">
                <div class="row">
                  <div class="col-3">
                    <b-list-group>
                      <allint-severity-filter :counts="result.lowVision.problem.counts" :severity="result.lowVision.problem.filterSeverity" v-on:change-severity="changeLowVisionFilterSeverity($event)"></allint-severity-filter>
                  </div>
                  <div class="col-9">
                    <div class="row mb-1">
                      <div class="col d-flex justify-content-end">
                        <allint-keyword-search-form :value="result.lowVision.problem.filterText" @search="this.result.lowVision.problem.filterText = $event; updateLowVisionFilter();"></allint-keyword-search-form>

                        <allint-column-setting-form class="ml-2" :fields="result.lowVision.problem.masterFields" @column-setting-change="updateLowVisionProblemFields();"></allint-column-setting-form>

                        <allint-download-form class="ml-2" @download="downloadLowVisionCsv"></allint-download-form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <b-table striped hover responsive sticky-header :items="result.lowVision.problem.items" :fields="result.lowVision.problem.fields" :filter="result.lowVision.problem.filter" :filter-function="filterLowVisionProblem">
                          <template v-slot:cell(highlightTargetPaths)="data">
                            <span v-if="data.value && data.value.length > 0">
                              <allint-highlighter v-for="path in data.value" v-bind:key="path.id" v-bind:path="path" v-on:highlight="highlightElement"></allint-highlighter>
                            </span>
                          </template>
                        </b-table>
                      </div>
                    </div>
                  </div>
                </div> <!--div class="row"></div> -->

                <allint-image-viewer :source="result.lowVision.sourceImage" :output="result.lowVision.outputImage"></allint-image-viewer>
              </div> <!--div v-if="hasLowVisionResult()"> -->
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div> <!-- end of .container -->

  </div> <!-- end of #app -->

  <script type="module">
    // vue settings
    Vue.use(BootstrapVue);
    Vue.use(BootstrapVueIcons);
    Vue.use(VueImageCompare);

    Vue.component("allint-highlighter", {
      props: ['path'],
      template: `<b-button size="sm" pill class="btn-allint-highlighter" :title="path.cssPath" v-on:click="$emit('highlight', path)">{{ path.lastTag }}</b-button>`
    });

    import SeverityFilter from "./severity-filter.js";
    Vue.component("allint-severity-filter", SeverityFilter);

    import KeywordSearchForm from "./keyword-search-form.js";
    Vue.component("allint-keyword-search-form", KeywordSearchForm);

    import ColumnSettingForm from "./column-setting-form.js";
    Vue.component("allint-column-setting-form", ColumnSettingForm);

    import DownloadForm from "./download-form.js";
    Vue.component("allint-download-form", DownloadForm);

    import Navbar from "./navbar.js";
    Vue.component("allint-navbar", Navbar);

    import MainForm from "./main-form.js";
    Vue.component("allint-main-form", MainForm);

    import ImageViewer from "./image-viewer.js";
    Vue.component("allint-image-viewer", ImageViewer);

    import HtmlCheckerTab from "./html-checker-tab.js";
    Vue.component("allint-html-checker-tab", HtmlCheckerTab);

    const promise1 = new Promise((resolve, reject) => {
      i18next.use(i18nextBrowserLanguageDetector).use(I18nextFetchBackend).init({
        fallbackLng: ['en', 'ja'],
        preload: ['en', 'ja', 'zh'],
        ns: [ 'translation' ],
        defaultNS: 'translation',
        backend: {
          loadPath: '/locales/{{lng}}/{{ns}}.json'
        }
      }, (err, t) => {
        if (err) {
          reject(err);
          return;
        }

        resolve();
      });
    });

    import { lastTag, sliceMap, escapeCsv, download, convertSeverityIdToName } from "./util.js";

    const promise2 = new Promise((resolve, reject) => {
      window.addEventListener("DOMContentLoaded", (ev) => {
        resolve();
      });
    });

    Promise.all([promise1, promise2]).then(() => {
      const app = new Vue({
        el: "#app",
        data: {
          url: "",
          validating: false,
          tabIndex: 0,
          browserTabId: "",
          settings: {
            lowVision: {
              eyesight: true,
              eyesightDegree: 0.5,
              cvd: true,
              cvdType: "deutan",
              colorFilter: true,
              colorFilterDegree: 0.8
            }
          },
          result: {
            htmlCheckerProblemData: {},
            lowVision: {
              problem: {
                masterFields: [
                  {
                    key: "severityStr",
                    label: "重度指数",
                    class: "allinter-severity",
                    sortable: true,
                    visible: true
                  },
                  {
                    key: "highlightTargetPaths",
                    label: "指摘箇所",
                    class: "allinter-highlight-paths",
                    sortable: false,
                    visible: true
                  },
                  // {
                  //   key: "iconTooltip",
                  //   label: "種類",
                  //   class: "allinter-icon",
                  //   sortable: true
                  // },
                  {
                    key: "evaluationItem_tableDataGuideline0",
                    label: "WCAG 2.0",
                    class: "allinter-guideline0",
                    sortable: true,
                    visible: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline1",
                    label: "Section508",
                    class: "allinter-guideline1",
                    sortable: true,
                    visible: true
                  },
                  {
                    key: "evaluationItem_tableDataGuideline2",
                    label: "JIS",
                    class: "allinter-guideline2",
                    sortable: true,
                    visible: true
                  },
                  {
                    key: "severityLV",
                    label: "深刻度",
                    class: "allinter-severity-lv",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "foreground",
                    label: "前景色",
                    class: "allinter-foreground",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "background",
                    label: "背景色",
                    class: "allinter-background",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "x",
                    label: "X座標",
                    class: "allinter-x",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "y",
                    label: "Y座標",
                    class: "allinter-y",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "area",
                    label: "面積",
                    class: "allinter-area",
                    sortable: true,
                    visible: false
                  },
                  {
                    key: "evaluationItem_tableDataTechniques",
                    label: "達成方法",
                    class: "allinter-techniques",
                    sortable: true,
                    visible: true
                  },
                  {
                    key: "description",
                    label: "内容",
                    class: "allinter-description",
                    sortable: true,
                    visible: true
                  },
                ],
                fields: [],
                items: [],
                counts: [],
                filter: null,
                filterText: null,
                filterSeverity: null,
                filterOn: [ "severityStr" ]
              },
              sourceImage: "",
              outputImage: "",
              imageMode: "both"
            }
          }
        },
        created: function() {
          window.addEventListener("beforeunload", (ev) => {
            if (typeof hostCallback !== "undefined") {
              ev.preventDefault();
              ev.returnValue = '';
              hostCallback(JSON.stringify({ name: "quit" }));
            }
          });
          window.addEventListener("message", (ev) => {
            console.log({ on: "message", ev: ev, data: ev.data })

            switch (ev.data.name) {
              case "allinter.settings":
                this.settings.lowVision.eyesight = ev.data.lowVision.eyesight;
                this.settings.lowVision.eyesightDegree = ev.data.lowVision.eyesightDegree;
                this.settings.lowVision.cvd = ev.data.lowVision.cvd;
                this.settings.lowVision.cvdType = ev.data.lowVision.cvdTypeName;
                this.settings.lowVision.colorFilter = ev.data.lowVision.colorFilter;
                this.settings.lowVision.colorFilterDegree = ev.data.lowVision.colorFilterDegree;
                break;
              case "allinter.validating":
                this.validating = false;
                this.browserTabId = ev.data.tabId;
                break;
              case "allinter.completed":
                this.validating = false;
                this.browserTabId = ev.data.tabId;
                break;
              case "allinter.htmlChecker.result":
                this.result.htmlCheckerProblemData = sliceMap(ev.data, [ "tabId", "url" ]);
                this.result.htmlCheckerProblemData.problems = Array.from(ev.data.problems, (problem) => {
                  return sliceMap(problem, [
                    "canHighlight", "description", "evaluationItem", "highlightTargetPaths", "lineStrMulti",
                    "severity", "severityStr"
                  ]);
                });
                break;
              case "allinter.lowVision.result":
                this.result.lowVision.problem.items = Array.from(ev.data.problems, (problem, index) => {
                  return {
                    id: index,
                    severityStr: problem.severityStr,
                    iconTooltip: problem.iconTooltip,
                    evaluationItem_tableDataGuideline0: problem.evaluationItem["tableDataGuideline"][0],
                    evaluationItem_tableDataGuideline1: problem.evaluationItem["tableDataGuideline"][1],
                    evaluationItem_tableDataGuideline2: problem.evaluationItem["tableDataGuideline"][2],
                    evaluationItem_tableDataTechniques: problem.evaluationItem["tableDataTechniques"],
                    severityLV: problem.severityLV,
                    foreground: problem.foreground,
                    background: problem.background,
                    x: problem.x,
                    y: problem.y,
                    area: problem.area,
                    evaluationItem_tableDataTechniques: problem.evaluationItem["tableDataTechniques"],
                    highlightTargetPaths: problem.cssPath ? [ { id: 0, cssPath: problem.cssPath, lastTag: lastTag(problem.cssPath) } ] : [],
                    description: problem.description,
                  };
                });

                this.result.lowVision.problem.counts = [ 0, 0, 0, 0 ];
                ev.data.problems.forEach((problem, index) => {
                  if (problem.severity & 1) {
                    this.result.lowVision.problem.counts[0] += 1;
                  }
                  if (problem.severity & 2) {
                    this.result.lowVision.problem.counts[1] += 1;
                  }
                  if (problem.severity & 4) {
                    this.result.lowVision.problem.counts[2] += 1;
                  }
                  if (problem.severity & 8) {
                    this.result.lowVision.problem.counts[3] += 1;
                  }
                });

                this.result.lowVision.sourceImage = ev.data.sourceImageDataUrl;
                this.result.lowVision.outputImage = ev.data.outputImageDataUrl;
                this.result.lowVision.imageMode = "both";
                break;
            }
          });

          const lastUrl = sessionStorage.getItem("lastUrl");
          if (lastUrl) {
            this.url = lastUrl;
          }

          // this.updateHtmlCheckerProblemFields();
          this.updateLowVisionProblemFields();

          if (typeof hostCallback !== "undefined") {
            hostCallback(JSON.stringify({ name: "syncSettings" }));
          }
        },
        methods: {
          validatePage: function(url) {
            if (url) {
              this.url = url;
            }
            if (! this.url) {
              return;
            }

            if (typeof hostCallback !== "undefined") {
              this.validating = true;
              this.browserTabId = "";
              this.result.htmlCheckerProblemData = {};
              this.result.lowVision.problem.items = [];
              this.result.lowVision.problem.counts = [ 0, 0, 0, 0 ];
              this.result.lowVision.problem.filter = null;
              this.result.lowVision.problem.filterOn = [ "severityStr" ];
              this.result.lowVision.sourceImage = "";
              this.result.lowVision.outputImage = "";
              this.result.lowVision.imageMode = "both";

              hostCallback(JSON.stringify({ name: "open", payload: { url: this.url } }));
              sessionStorage.setItem("lastUrl", this.url);
            }
          },
          quitApplication: function() {
            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "quit" }));
            }
          },
          hasLowVisionResult: function() {
            return (this.result.lowVision.problem && this.result.lowVision.problem.items && this.result.lowVision.problem.items.length > 0);
          },
          highlightElement: function(path) {
            if (! path || !path.cssPath) {
              return;
            }

            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "highlight", payload: { tabId: this.browserTabId, cssPath: path.cssPath } }));
            }
          },
          saveSettings: function() {
            if (typeof hostCallback !== "undefined") {
              hostCallback(JSON.stringify({ name: "setSettings", payload: this.settings }));
            }
          },
          updateLowVisionFilter: function() {
            const filters = [];
            if (this.result.lowVision.problem.filterText && this.result.lowVision.problem.filterText.trim()) {
              filters.push(this.result.lowVision.problem.filterText.trim());
            }
            if (this.result.lowVision.problem.filterSeverity && this.result.lowVision.problem.filterSeverity.trim()) {
              filters.push(this.result.lowVision.problem.filterSeverity.trim());
            }

            this.result.lowVision.problem.filter = filters.join(" ");
          },
          changeLowVisionFilterSeverity: function(severity) {
            this.result.lowVision.problem.filterSeverity = severity;
            this.updateLowVisionFilter();
          },
          filterLowVisionProblem: function(row, filter) {
            if (this.result.lowVision.problem.filterText && this.result.lowVision.problem.filterText.trim()) {
              // search in description
              if (! row.description.includes(this.result.lowVision.problem.filterText.trim())) {
                return false;
              }
            }

            if (this.result.lowVision.problem.filterSeverity && this.result.lowVision.problem.filterSeverity.trim()) {
              if (this.result.lowVision.problem.filterSeverity !== "all") {
                // match with severity
                const severityStr = convertSeverityIdToName(this.result.lowVision.problem.filterSeverity)
                if (row.severityStr !== severityStr) {
                  return false;
                }
              }
            }

            return true;
          },
          updateLowVisionProblemFields: function() {
            this.result.lowVision.problem.fields = this.result.lowVision.problem.masterFields.filter(field => field.visible).map(field => sliceMap(field, [ "key", "label", "class", "sortable" ]));
          },
          downloadLowVisionCsv: function() {
            const csv = [];
            const terms = [];

            csv.push(Array.from(this.result.lowVision.problem.masterFields, (field) => field.label).join(","));
            this.result.lowVision.problem.items.forEach((item) => {
              terms.length = 0;

              // 重度指数 (severityStr)
              terms.push(escapeCsv(item.severityStr));
              // 指摘箇所 (highlightTargetPaths)
              terms.push(escapeCsv(Array.from(item.highlightTargetPaths, (highlightTargetPath) => highlightTargetPath.cssPath).join("\n")));
              // WCAG 2.0 ~ JIS (evaluationItem_tableDataGuideline0 ~ evaluationItem_tableDataGuideline2)
              terms.push(escapeCsv(item.evaluationItem_tableDataGuideline0));
              terms.push(escapeCsv(item.evaluationItem_tableDataGuideline1));
              terms.push(escapeCsv(item.evaluationItem_tableDataGuideline2));
              // 深刻度 (severityLV)
              terms.push(escapeCsv(item.severityLV.toString()));
              // 前景色 (foreground)
              terms.push(escapeCsv(item.foreground));
              // 背景色 (background)
              terms.push(escapeCsv(item.background));
              // X座標 (x)
              terms.push(escapeCsv(item.x.toString()));
              // Y座標 (y)
              terms.push(escapeCsv(item.y.toString()));
              // 面積 (area)
              terms.push(escapeCsv(item.area.toString()));
              // 達成方法 (evaluationItem_tableDataTechniques)
              terms.push(escapeCsv(item.evaluationItem_tableDataTechniques));
              // 内容 (description)
              terms.push(escapeCsv(item.description));

              csv.push(terms.join(","));
            });

            download(csv, `low-vision-${moment().format("YYYY-MM-DD")}.csv`);
          }
        }
      });
    });
   </script>
</body>
</html>
